<VirtualHost *:80>
    DocumentRoot {{ snipeit_root_dir }}/public
    ServerName {{ snipeit_host }}

    <Directory {{ snipeit_root_dir }}>
        AllowOverride None
        Require all granted
    </Directory>

    <Directory {{ snipeit_root_dir }}/public>
        Allow From All
        AllowOverride All
        Options -Indexes
    </Directory>
</VirtualHost>